---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import lion from "../assets/Adult_Male_Lion.jpg";
---

<Layout>
  <Image src={lion} alt="A lion" class="my-5 rounded-xl" />
  <div class="my-5 text-xl">Software developer in St. John's, NL</div>
  <ul>
    <li>
      Building tools for media teams at <a href="https://backlight.co/"
        >Backlight</a
      >
    </li>
    <li>
      Coaching up-and-coming software developers at <a
        href="https://get-building.ca/">Get Building</a
      >
    </li>
  </ul>
</Layout>
