---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import lion from "../assets/Adult_Male_Lion.jpg";
---

<Layout>
  <Image src={lion} alt="A lion" class="my-5 rounded-xl" />
  <div class="my-5 text-xl">Software developer in St. John's, NL</div>
  <ul class="my-5">
    <li>Building tools for media teams at <a href="https://backlight.co/">Backlight</a></li>
    <li>Coaching up-and-coming software developers at <a href="https://get-building.ca/">Get Building</a></li>
    <li>Working on various projects on <a href="https://github.com/djrideout">GitHub</a></li>
  </ul>
  <div>
    My projects usually involve retro games, consoles, or emulation in some
    capacity. My interests tend to vary though, so who knows what I'll be
    working on at any given time.
  </div>
</Layout>
