<div class="m-2 flex justify-between text-xl">
  <div><a href="/" class="name">D.J. Rideout</a></div>
  <div class="flex gap-5">
    <a href="/">About</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
  </div>
</div>

<style>
  .name {
    color: initial;
    text-decoration: initial;
  }
</style>
