<div class="m-2 flex flex-row items-center justify-between text-xl">
  <div class="flex-column">D.J. Rideout</div>
  <div class="flex flex-row gap-5">
    <a href="/">About</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
  </div>
</div>
