<div class="m-2 flex justify-between text-xl">
  <div>D.J. Rideout</div>
  <div class="flex gap-5">
    <a href="/">About</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
  </div>
</div>
